
.heading{
    font-size: 35px;
    margin-left: 60px;
    margin-top: 20px;
    padding: 5px;
  
}
.primary{
    background-color: rgb(171, 171, 231);
}
.search{
    margin-left: 900px;
}
.btn{
    color: black;
    
}
.container-fluid{
    margin-top: 15px;
}
.main{
    font-size:20px;
    color: black; 
    margin-left: 20px;
    margin-top: 20px;
    
}
.link{
    
    text-decoration-color: black;
    color: black;
    background-color: darkgray;
    box-sizing: border-box;
    
}
.img{
    /* margin-left: 30px;
    margin-top: -15px;*/
    width: 100%; 
    height: 100%;
    
}
@media only screen and(min-width:786px){
    .link{font-size: 10px;
    margin-left: 10px;}
    .heading{font-size: 10px;}

} 
@media only screen and (min-width:3600px){
    body{
        width:100%;
        height: 100%;

        
    }
    
}

