body{

    font-family: 'gothic' !important;
    /* padding: '20px' !important; */

}
.progress{
    margin-top: 30px;
    height: 10px;
    color: brown;
}
.bg-success{
    background-color: #849274!important;
}



.bg-primary{
    background-color: #71bec19e!important;
}

.bg-warning{
    background-color: #e47423!important;
}

h1{
    font-weight: 25px;
}
.bg-dark{
    background-color: rgb(100, 42, 42);
}

h4{
    color: rgb(236, 76, 17);
} 
h3{
    color: rgb(236, 76, 17);
} 
.head{
    color: rgb(14, 180, 180);
}
h5{
    font-size: 17px;
}
